body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.clearfix{
    clear: both;
}
.header-top {
    background: #6F1E51;
}
.header-top p{
    padding:10px 0 ;
    color:#fff;
    text-align:center;
    margin:0;
}
.header-bottom{
    padding:0;
}
.logo{
    float:left;
    border-right:1px dashed #eee;
}
.logo img{
    padding:13px 20px 13px 0 ;
}
.menu{
    float:left;
}
.menu ul{
    padding:0;
    margin:0;
}
.menu li{
    float:left;
    list-style: none;
    padding:25px 40px;
    border-right:1px dashed #eee;
    margin:0;
}
.menu a{
    color:#333;
    text-decoration: none;
}
.menu li:hover{
    background: rgb(228, 129, 191);
}
.menu li:hover a{
    text-decoration: none;
    color:#fff;
}
.colormenu{
    padding:25px 15px!important;
    font-weight: bold;
}
.colormenu a{
    color:rgb(107, 106, 106);
}
.buttons{
    float:right;
}
.buttons ul{
    margin:0;
    padding:0;
}
.buttons li{
    margin:21px 3px;
    float:left;
    list-style: none;
    font-size:14px;
    border-radius: 7px;
    background: #6F1E51;
}
.buttons a{
    color:#fff;
    text-decoration: none;
    padding:5px 15px;
    display: block;
}
.buttons a:hover{
    text-decoration: none;
    color: #fff;
}
.buttons li:hover{
    background: rgb(160, 90, 134);
    transition: 1s;
}
.buttons-element1{
    background: #6388ca !important;
}
.buttons-element1:hover{
    background: #333!important;
}
.buttons-element2{
    background:#fff !important;
    border:2px solid #6388ca;
    margin-right:30px!important;
}
.buttons-element2 a{
    color:#6388ca;
    padding:3px 15px;
}
.buttons-element2 a:hover{
    color:#6388ca;
}
.finder{
    padding-left:20px;
    background: #9980FA;
    
}
.finder p{
    font-size:22px;
    margin:25px 0 10px 0;
    display: inline-block;
    color:#fff;
}  
.search-input{
    background: #fff;
    display: inline-block;
    border-radius: 5px;
    width: 65%;
}
.search-input select{
    width: 200px;
    height: 40px;
    border:none;
    background: #fff;
    color:rgb(136, 136, 136);
    font-size:19px;
}
.search-input select:focus{
    border:1px solid #eee;
    outline: 0;
}
.select-box{
    padding-right: 15px;
    border-right: 1px dotted rgb(131, 130, 130);
    display: inline-block;
    margin:10px;
}
.search{
    display: inline-block;
    width: 56%;
}
.search input{
    height: 40px;
    border:none;
    background: #fff;
    color:rgb(136, 136, 136);
    font-size:19px;
    width: 100%;
}
.search input:focus{
    outline: 0;
}
.search-button{
    display: inline-block;
    width: calc(39% - 204.4px);
    background: red;
}
.search-button input{
    width: 100%;
    margin:0;
}
